body{
    background-color: white;
}

.carousel-caption button
{
    margin: auto;
    max-width: 30%;
    opacity: 0.9;
}

.row .product img{
    height: 400px;
}

.shop .shop-img{
    height: 300px;
    position: relative;
    margin-top: auto;
}